body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    /*background-color: #000;*/
  }

main {
    flex: 1 0 auto;
  }

header, main, footer {
    margin-left: 300px;

}

@media only screen and (max-width : 992px) {
    header, main, footer {
      padding-left: 0;
    }
}

.background{
  background: linear-gradient(to right, #485563, #29323c);
}

.nav-wrapper{
  background: linear-gradient(to left, #485563, #29323c);
}

.background img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

div.container {
  width: 95%;
}
/*
#table_equiplist {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}*/
/*td {
    max-width: 250px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
*/
/*
td:focus{
  text-overflow: clip;
  overflow: visible;
}*/
/*
td:active {
  overflow: scroll;
  height: 50px;
  width: 100px;
}*/
